<div data-ng-show="menu.isVisible('listInvoices')" data-ng-controller="InvoicesController">
   <div data-ng-hide="invoices.length">
      <h1>Invoices</h1>
      <p>You didnt generate any invoices yet.</p>
   </div>
   <div data-ng-show="invoices.length">
      <h1>Invoices</h1>
      <table class="table table-striped">
         <thead>
            <tr>
               <th>#</th>
               <th>Invoice Number</th>
               <th>Date</th>
               <th>Download</th>
            </tr>
         </thead>
         <tbody>
            <tr data-ng-repeat="invoice in invoices">
               <td data-ng-bind="$index + 1"></td>
               <td data-ng-bind="invoice.invoiceNumber"></td>
               <td data-ng-bind="invoice.date | date:'dd/MM/yyyy'"></td>
               <td><a data-ng-href="{{invoice._id}}"><i class="glyphicon glyphicon-save"></i></a></td>
            </tr>
         </tbody>
      </table>
   </div>
</div>