<div class="modal-content">
   <div class="modal-header">
      <h1 class="text text-center">{{ navCtrl.getCurrentTab().title }}</h1>
   </div>
   <div class="modal-body">
      
      <uib-tabset justified="true">
         <uib-tab ng-repeat='tab in navCtrl.tabs' heading="{{tab.title}}" active="tab.active">
            <data-ng-include src="tab.contentUrl"></data-ng-include>
         </uib-tab>

      </uib-tabset>
   </div>

   <div class="modal-footer">
      <button class="btn btn-success" data-ng-bind="navCtrl.getCurrentTab().title" data-ng-click="navCtrl.getCurrentTab().processForm()"></button>
      <button class="btn btn-warning" data-ng-click="closeForm()">Cancel</button>
   </div>
</div>