<div class="container">
   <div data-ng-hide="user" class="jumbotron">
      <h1>Start generating invoices now!</h1>
      <p>Log in with social media account of your choice and you are good to go! Create customers profiles for repetative use, free!</p>
   </div>
   <div data-ng-show="user" class="jumbotron">
      <div data-ng-if="menu.isVisible('default')">
         <h1>Welcome in your dashboard</h1>
         <p>You are now authenticated, and you can start working on invoices.</p>
      </div>
      <div data-ng-if="menu.isVisible('userSettings')">
         <h2>User settings</h2>
         <form>
            <div class="form-group">
               <label for="">Password</label>
               <input type="password" id="password" class="form-control">
            </div>
            <div class="form-group">
               <label form="password-2">Retype new password</label>
               <input type="password" id="password-2" class="form-control">
            </div>
            <input type="submit" class="btn pull-right btn-primary">
         </form>
      </div>
      <data-ng-include src="'invoices/views/create-invoice.client.view.html'"></data-ng-include>
      <data-ng-include src="'company-profiles/views/list-company-profiles.client.view.html'"></data-ng-include>
      <data-ng-include src="'company-profiles/views/create-company-profile.client.view.html'"></data-ng-include>
      <data-ng-include src="'company-profiles/views/update-company-profile.client.view.html'"></data-ng-include>
      <data-ng-include src="'invoices/views/list-invoices.client.view.html'"></data-ng-include>
   </div>
</div>