<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
   <div class="container">
      <div class="navbar-header">
         <a href="localhost:8000" class="navbar-brand">Fakturomat</a>
          <button class="navbar-toggle" ng-click="navIsCollapsed = !navIsCollapsed">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
         </button>
      </div>
      <div class="collapse navbar-collapse navHeaderCollapse" uib-collapse="navIsCollapsed" style="overflow: hidden;">
         <ul class="nav navbar-nav navbar-right">
            <li data-ng-hide="user"><a href="#/" data-ng-click="showForm(0)">Signin</a></li>
            <li data-ng-hide="user"><a href="#/" data-ng-click="showForm(1)">Signup</a></li>
            <li data-ng-show="user"><a href="#/" data-ng-click="menu.setVisible('default')">Hello, {{user.firstName || user.username}}!</a></li>
            <li data-ng-show="user"><a href="#/" data-ng-click="menu.setVisible('createInvoice')">Create invoice</a></li>
            <li data-ng-controller="InvoicesController" data-ng-show="user"><a href="#/" data-ng-click="loadInvoices()">Show invoices</a></li>
            <li data-ng-controller="CompanyProfileController" data-ng-show="user"><a href="#/" data-ng-click="loadCompanyProfiles()">Company Profile</a></li>
            <li data-ng-show="user"><a href="#/" data-ng-click="logout(user)">Logout</a></li>
            <li><a href="#/">Contact</a></li>
         </ul>
      </div>
   </div>
</nav>