<h2 class="text-center">Create account</h2>
<div class="row">
   <div class="col-sm-8 col-sm-offset-2">
      <form class="container-fluid" ng-submit="signup()">
         <div class="form-group">
            <label for="username">Username</label>
            <input class="form-control" type="text" id="username">
         </div>
         <div class="form-group">
            <label for="password">Password</label>
            <input class="form-control" type="text" id="password">
         </div>
         <div class="form-group">
            <label for="password-repeat">Type password again</label>
            <input class="form-control" type="text" id="password-repeat">
         </div>
      </form>
   </div>
</div>