<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <title><%= title %></title>
      <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css">
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
      <link rel="stylesheet" href="lib/bootstrap-social/bootstrap-social.css">
   </head>
   <body>
      <section ng-view></section>

      <!--<script src="lib/angular/angular.js" type="text/javascript"></script>

      <script src="lib/angular-resource/angular-resource.js" type="text/javascript"></script>
      <script src="lib/angular-route/angular-route.js" type="text/javascript"></script>
      <script src="lib/angular-animate/angular-animate.js" type="text/javascript"></script>
      <script src="lib/angular-bootstrap/ui-bootstrap-tpls.js" type="text/javascript"></script>
      <script src="lib/angular-cookies/angular-cookies.js" type="text/javascript"></script>-->

      <script src="app.min.js" type="text/javascript"></script>
      <!--<script src="application.js" type="text/javascript"></script>

      <script src="dashboard-navigation/dashboard-navigation.client.module.js" type="text/javascript"></script>
      <script src="dashboard-navigation/services/menu.client.factory.js" type="text/javascript"></script>
      <script src="index/index.client.module.js" type="text/javascript"></script>
      <script src="messages/messages.client.module.js" type="text/javascript"></script>
      <script src="company-profiles/company-profiles.client.module.js" type="text/javascript"></script>
      <script src="invoices/invoices.client.module.js" type="text/javascript"></script>

      <script src="index/config/index.client.routes.js" type="text/javascript"></script>
      
      <script src="index/services/index.client.service.js" type="text/javascript"></script>
      <script src="index/services/authentication.client.service.js" type="text/javascript"></script>
      <script src="company-profiles/services/company-profiles-api.client.service.js" type="text/javascript"></script>

      <script src="index/controllers/index.client.controller.js" type="text/javascript"></script>
      <script src="messages/controllers/messages.client.controller.js" type="text/javascript"></script>
      <script src="company-profiles/controllers/company-profile.client.controller.js" type="text/javascript"></script>
      <script src="invoices/controllers/invoices.client.controller.js" type="text/javascript"></script>
   
      <script src="index/directives/navbar.client.directive.js" type="text/javascript"></script>
      <script src="index/directives/jumbotron.client.directive.js" type="text/javascript"></script>
      <script src="messages/directives/messages.client.directive.js" type="text/javascript"></script>-->
   </body>
</html>